
$laranja: #F06C00;

$preto: #1A0B29;
$preto-medio: #2D2732;
$preto-claro: #4E4357;
$preto-texto: #79717F;
$branco: #ffffff;
$border: #EFEDF1;



$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$black: 800;